<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title> North Dakota Legislators </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="welcome-card">
    <ion-img src="/assets/Flag_of_North_Dakota.svg"></ion-img>
    <ion-card-header>
      <ion-card-title class="welcome-title"
        >North Dakota Legislature</ion-card-title
      >
      <ion-list lines="none" *ngFor="let p of appPages">
        <ion-item
          class="list-body"
          [routerDirection]="'root'"
          [routerLink]="[p.url]"
        >
          <ion-icon size="small" slot="start" [name]="p.icon"></ion-icon>
          <ion-label> {{ p.title }} </ion-label>
        </ion-item>
      </ion-list>
    </ion-card-header>
  </ion-card>
</ion-content>
