<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>North Dakota Legislature</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="welcome-card">
    <ion-img src="/assets/Flag_of_North_Dakota.svg"></ion-img>
    <ion-card-header>
      <ion-card-title class="welcome-title"
        >North Dakota Legislature</ion-card-title
      >
    </ion-card-header>
  </ion-card>
  <ion-list lines="none">
    <ion-item href="/governor">
      <ion-icon slot="start" color="medium" name="business"></ion-icon>
      <ion-label>Office of the Governor</ion-label>
    </ion-item>
    <ion-item href="/senators">
      <ion-icon slot="start" color="medium" name="person"></ion-icon>
      <ion-label>Senators</ion-label>
    </ion-item>
    <ion-item href="/house">
      <ion-icon slot="start" color="medium" name="people"></ion-icon>
      <ion-label>House Members</ion-label>
    </ion-item>
    <ion-item href="/districts">
      <ion-icon slot="start" color="medium" name="pin"></ion-icon>
      <ion-label>Districts</ion-label>
    </ion-item>
    <ion-item href="/ndmca">
      <ion-icon slot="start" color="medium" name="call"></ion-icon>
      <ion-label>NDMCA</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
